.productList{
    display: flex;
   gap: 1%;
}
.productCard{

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5rem;
}
.productCard h5,span{
    position: relative;
    top: -20%;
}
.productCard span{
    color: red;
    font-weight: bold;
}
@media screen and (max-width:750px) {
    .productList{
        flex-direction: column;
    }
    .productCard img{
        width: 70%;
    }
    .productCard h5{
       margin-top: -10%;
    }
    .container{
        position: relative;
        top: 5rem;
    }
}